<div class="container">
  <div class="row">
    <div class="col">
      <h2>魚編集</h2>
      <%= form_with model: @fish, url: admin_fish_path(@fish.id), method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>画像</td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>

        <tr>
          <td>魚名</td>
          <td><%= f.text_field :fish_name %></td>
        </tr>

        <tr>
          <td>魚説明</td>
          <td><%= f.text_field :fish_introduction %></td>
        </tr>
      </table>
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>