<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-4">魚の投稿</h2>
      <%= form_with model: @fish, url: admin_fish_index_path do |f| %>
        <table>
          <tr>
            <td>画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
            <td>都道府県</td>
            <td>
              <%= f.collection_select(:prefecture_tag_ids, PrefectureTag.all, :id, :name, {:prompt => "選択してください"}, {:multiple => true}) %>
            </td>
          </tr>

          <tr>
            <td>魚名</td>
            <td><%= f.text_field :fish_name %></td>
          </tr>

          <tr>
            <td>魚説明</td>
            <td><%= f.text_field :fish_introduction %></td>
          </tr>
        </table>
        <%= f.submit '追加', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>