<div class="container">
  <div class="row">
    <div class="col">
      <h2></h2>
      <%= form_with model: @fish, url: admin_fish_index_path do |f| %>
        <table>
          <tr>
            <td>画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>

          <tr>
            <td>魚名</td>
            <td><%= f.text_field :fish_name %></td>
          </tr>

          <tr>
            <td>魚説明</td>
            <td><%= f.text_field :fish_introduction %></td>
          </tr>

          <tr>
            <td>都道府県　　　</td>
            <td>
              <%= f.collection_check_boxes(:prefecture_tag_ids, PrefectureTag.all, :id, :name) do |tag| %>
              <div>
                <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                <% end %>
              </div>
              <% end %>
            </td>
          </tr>
        </table>
        <%= f.submit '追加', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>