<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-4">コメント一覧</h2>
      <%= form_with model: @comment, url: shop_comments_path(@shop) do |f| %>
        <%= f.hidden_field :shop_id %>
        <%= f.text_field :comment %>
        <%= f.submit '投稿' %>
      <% end %>
      <table class="table table-border">
        <tr>
          <th>会員ID</th>
          <th>コメント</th>
        </tr>

        <% @comments.each do |c| %>
        <tr>
          <td><%= c.customer_id %></td>
          <td><%= c.comment %></td>
          <td><%= link_to "削除", comment_path(c), method: :delete, class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
      
    </div>
  </div>
</div>