<div class="container">
  <div class="row">
    <div class="col">
      <h2>コメント一覧</h2>
      <table>
        <tr>
          <th>会員ID</th>
          <th>コメント</th>
        </tr>
        
        <% @comments.each do |c| %>
        <tr>
          <td><%= c.customer_id %></td>
          <td><%= c.comment %></td>
        </tr>
        <% end %>
      </table>
      
        
     
      
      <%= form_with model: @comment, url: shop_comments_path(@shop) do |f| %>
        <%= f.hidden_field :shop_id %>
        <%= f.text_field :comment %>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </div>
</div>