<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-4"><%= @tag.name %>のお店一覧</h2>

      <% @shop.each do |shop| %>
      <table class="table table-borderless">
        <tr>
          <td><%= image_tag shop.image, size: "200x150" %></td>
          <td>
            <%= link_to shop_path(shop) do %>
              <%= shop.shop_name %>
            <% end %>
          </td>
          <td><%= link_to "削除", shop_path(shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>