<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員編集</h2>
      <%= form_with model: @customer,url: admin_customer_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>氏名</td>
          <td>（姓）</td>
          <td><%= f.text_field :last_name %></td>
          <td>(名)</td>
          <td><%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td>(セイ)</td>
          <td><%= f.text_field :last_name_kana %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td><%= f.text_field :email %></td>
          <td></td>
          <td></td>
        </tr>
        
        <tr>
          <td>会員ステータス</td>
          <td></td>
          <td>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "有効", { value: :true } %>
              
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "退会", { value: :false } %>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>