<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @tag.name %>の魚一覧</h2>
      <% @fish.each do |fish| %>
        <div>
          <%= image_tag fish.image, size: "100x100" %>
          <%= fish.fish_name %>
          <%= fish.fish_introduction %>
        </div>
      <% end %>
      <%= link_to 'お店一覧', shops_path, class: "btn btn-success" %>
      <%= link_to 'お店を投稿', new_shop_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
