<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-4"><%= @tag&.name %>の魚一覧</h2>

      <% @fishes.each do |fish| %>
        <div>
          <%= image_tag fish.image, size: "130x100" %><br>
          <%= fish.fish_name %><br>
          <%= fish.fish_introduction %>
        </div>
      <% end %>
      <% if @tag %>
        <%= link_to 'お店一覧', shops_path(prefecture_tag_id: @tag.id), class: "btn btn-success" %>
        <%= link_to 'お店を投稿', new_shop_path(prefecture_id: @tag.id), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
