<!DOCTYPE html>
<html>
  <head>
    <title>Japan Fish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/18f14cbabc.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-1g navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>日本の魚を食べよう</span></a>
          <% if admin_signed_in? %>
            <div><%= link_to 'ホーム', root_path %></div> 
            <div><%= link_to '会員一覧', admin_customers_path %></div>
            <div><%= link_to '魚一覧', admin_fish_index_path %></div>
            <div><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></div>
          <% elsif customer_signed_in? %>
            <div><%= link_to 'ホーム', root_path %></div> 
            <div><%= link_to 'アバウト', about_path %></div>
            <div><%= link_to 'マイページ', customers_mypage_path %></div>
            <div><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></div>
          <% else %>
            <div><%= link_to 'ホーム', root_path %></div> 
            <div><%= link_to 'アバウト', about_path %></div>
            <div><%= link_to 'ログイン', customer_session_path %></div>
            <div><%= link_to '新規登録', new_customer_registration_path %></div>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
