<!DOCTYPE html>
<html>
  <head>
    <title>Japan Fish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/18f14cbabc.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-1g navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>日本の魚を食べよう</span></a>
          <% if admin_signed_in? %>
            <div>
              <%= link_to  admin_shops_path do %>
              <i class="fa-solid fa-house"></i>お店一覧
              <% end %>
            </div> 
            <div>
              <%= link_to admin_customers_path do %>
              <i class="fa-solid fa-users"></i>会員一覧
              <% end %>
            </div>
            <div>
              <%= link_to admin_fish_index_path do %>
              <i class="fa-solid fa-fish"></i>魚一覧
              <% end %>
            </div>
            <div>
              <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
              <% end %>
            </div>
          <% elsif customer_signed_in? %>
            <div>
              <%= link_to  root_path do %>
              <i class="fa-solid fa-house"></i>ホーム
              <% end %>
            </div> 
            <div>
              <%= link_to about_path do %>
              <i class="fa-solid fa-folder"></i>アバウト
              <% end %>
            </div>
            <div>
              <%= link_to customers_mypage_path do %>
              <i class="fa-solid fa-user"></i>マイページ
              <% end %>
            </div>
            <div>
              <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
              <% end %>
            </div>
          <% else %>
            <div>
              <%= link_to root_path do %>
              <i class="fa-solid fa-house"></i>ホーム
              <% end %>
            </div> 
            <div>
              <%= link_to about_path do %>
              <i class="fa-solid fa-folder"></i>アバウト
              <% end %>
            </div>
            <div>
              <%= link_to customer_session_path do %>
              <i class="fa-solid fa-right-to-bracket"></i>ログイン
              <% end %>
            </div>
            <div>
              <%= link_to new_customer_registration_path do %>
              <i class="fa-solid fa-user-plus"></i>新規登録
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class='container mt-5'>
  	    <div class='row'>
        </div>
      </div>
    </footer>
  </body>
</html>
